* {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    width: 1200px;
    height: 800px;
    margin: 0 auto;

    display: flex;
    flex-flow: row nowrap;
    background: #999;
    overflow: hidden;
}

.c1 {
    position: absolute;
    left: -300px;
    top: 0px;
    width: 200px;
    height: 800px;
    transition: all 1s;
    z-index: 2;
    background: rgba(58,207,12,0.5);
}

.c2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 800px;
    text-align: center;
    transition: all 1s;
    z-index: 1;
    background: #ddd;
}

.c3 {
    position: absolute;
    left: 1300px;
    top: 0px;
    width: 200px;
    height: 800px;
    transition: all 1s;
    z-index: 3;
    background: rgba(216,83,22,0.5);
}

.c1.open {
    left: 0px;
}

.c3.open {
    left: 1000px;
}